<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        <div>
            <h1 id="PageTitle">CofC Cyber Defenders</h1>
            
        </div>
        <!-- 
        <div id="login">
            <button onclick="window.location=''">Login In</button>
        </div> -->
    </header>
    <div id="navbar"><br>
        <button onclick="window.location='{% url 'employees' %}'">Employees</button>
        <button onclick="window.location='{% url 'customers' %}'">Customers</button>
    </div>
</head>
<body>
    <!-- block content -->
    {% block content%}
    {% endblock %}
    
    <!-- bootstrap javascript cdn link -->
</body>
</html>