<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <header>
        <div>
            <h1 id="PageTitle">CofC Cyber Defenders</h1>
            
            <div id="navbar"><br>
                <button onclick="window.location='{% url 'home' %}'">Home</button>
                <button onclick="window.location='{% url 'employees' %}'">Employees</button>
            </div>
    </header>

    <div>
        <h1>Our Customers</h1>
        <div>
            <p>Here is a list of are AMAZING customers. Please look away unless you are an admin. Please</p>
        </div>
        <div id="globe"><br><br>
            <pre>                 _nnnn_                      
                dGGGGMMb     ,"""""""""""""""""".
               @p~qp~~qMb    | Work In Progress  |
               M|@||@) M|   _;..................'
               @,----.JM| -'
              JS^\__/  qKL
             dZP        qKRb
            dZP          qKKb
           fZP            SMMb
           HZM            MMMM
           FqM            MMMM
         __| ".        |\dS"qML
         |    `.       | `' \Zq
        _)      \.___.,|     .'
        \____   )MMMMMM|   .'
             `-'       `--' hjm</pre>
        
        </div>
    </div>
</body>