<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <header>
        <div>
            <h1 id="PageTitle">CofC Cyber Defenders</h1>
        </div>

        <div id="navbar"><br>
            <button onclick="window.location='{% url 'home' %}'">Home</button>
            <button onclick="window.location='{% url 'customers' %}'">Customers</button>
        </div>
    </header>

    <div>
        <h1>About Us</h1>
        <div>
            <p>Our AMAZING cyber defenders (Don't look here unless you are an admin please)</p>
        </div>

        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Bank Account Number</th>
            </tr>
            {% for x in employees %}
            <tr>
                <td>{{ x.employeeID }}</td>
                <td>{{ x.fname }}</td>
                <td>{{ x.lname }}</td>
                <td>{{ x.position }}</td>
                <td>{{ x.bank_account_number }}</td>
            </tr>
        </table>
       
    </div>
</body>