<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <header>
        <div>
            <h1 id="PageTitle">CofC Cyber Defenders</h1>
        </div>

        <div id="navbar"><br>
            <button onclick="window.location='{% url 'home' %}'">Home</button>
            <button onclick="window.location='{% url 'customers' %}'">Customers</button>
        </div>
    </header>

    <div>
        <h1>About Us</h1>
        <div>
            <p>We are the CofC Cyber Defenders. We are a group of talented cyber defenders that will protect you and your assest from any cyber threats from around globe. Please read our services page for our great offers to keep YOUR buissness safe.</p>
        </div>
        <div id="globe"><br><br>
            <pre>                     -o#&&*''''?d:>b\_
                _o/"`''  '',, dMF9MMMMMHo_
             .o&#'        `"MbHMMMMMMMMMMMHo.
           .o"" '         vodM*$&&HMMMMMMMMMM?.
          ,'              $M&ood,~'`(&##MMMMMMH\
         /               ,MMMMMMM#b?#bobMMMMHMMML
        &              ?MMMMMMMMMMMMMMMMM7MMM$R*Hk
       ?$.            :MMMMMMMMMMMMMMMMMMM/HMMM|`*L
      |               |MMMMMMMMMMMMMMMMMMMMbMH'   T,
      $H#:            `*MMMMMMMMMMMMMMMMMMMMb#}'  `?
      ]MMH#             ""*""""*#MMMMMMMMMMMMM'    -
      MMMMMb_                   |MMMMMMMMMMMP'     :
      HMMMMMMMHo                 `MMMMMMMMMT       .
      ?MMMMMMMMP                  9MMMMMMMM}       -
      -?MMMMMMM                  |MMMMMMMMM?,d-    '
       :|MMMMMM-                 `MMMMMMMT .M|.   :
        .9MMM[                    &MMMMM*' `'    .
         :9MMk                    `MMM#"        -
           &M}                     `          .-
            `&.                             .
              `~,   .                     ./
                  . _                  .-
                    '`--._,dd###pp=""'</pre>
        
        </div>
    </div>
</body>